
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --green: #193685;
  --green1: #2d51b5;
  --green2: #0f2563;
  --orange: #ff6b35;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@font-face {
    font-family: "Everett Regular";
    src: url("/fonts/Everett-Regular.otf")format("otf"),
    url("/fonts/Everett-Regular.woff2")format("woff2"),
    url("/fonts/Everett-Regular.woff")format("woff"),
    url("/fonts/Everett-Regular.ttf")format("truetype"),
}
@font-face {
    font-family: "ginger";
    src: url("/ginger.ttf")format("truetype"),
}
html{
  scroll-behavior: smooth;

}
body {
  background: #f1f4fd;
  color: var(--foreground);
font-family: "Everett Regular";
  font-weight: 300;
}
.head-font{
    font-family: "ginger";

}
@keyframes menuSlideDown {
  from { transform: scaleY(0.7); opacity: 0; }
  to { transform: scaleY(1); opacity: 1; }
}
@keyframes menuSlideUp {
  from { transform: scaleY(1); opacity: 1; }
  to { transform: scaleY(0.7); opacity: 0; }
}
.animate-menuSlideDown {
  animation: menuSlideDown 0.3s ease forwards;
}
.animate-menuSlideUp {
  animation: menuSlideUp 0.3s ease forwards;
}

.font-light2{
  font-weight: 200;
}
.features-section{
  position: relative;
}
.partners-container .swiper{
  padding-bottom: 70px;
}
.swiper-pagination-bullet-active {
    background: var(--green)!important;
}
.bg-nav{
  transition: .3s;
}
.bg-nav-cover{
  top: -35px;
}
.menu-item{
  color: black;
  position: relative;
  font-size: 17px;
}
.menu-item::before{

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--orange);
  transition: .3s;
}
.menu-active.menu-item::before{
  width: 100%;
}
.menu-item:hover::before{
  width: 100%;
  opacity: .8;
}
.text-stroke {
  -webkit-text-stroke: .09rem var(--orange);
  text-stroke: .09rem var(--orange); /* Fallback, but not supported everywhere */
  font-family: sans-serif;
}

.hero-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #18378a36;
  background-size: cover;
  z-index: 1;

}
.hero-cover2::before {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.14), transparent);


}
.hero2:before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,  rgba(30, 21, 195, 0.579), transparent);
z-index: 1;

}
/* button style start */
.button {
  border: 2px none var(--yellow);
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  min-width: 120px;
  font-weight: 300;

}

.menu span {
  transition: transform 0.2s cubic-bezier(.33, 1.04, .67, 1.02);
  will-change: transform;
}

.button-outline {
  border: 2px solid var(--green);
  background-color: var(--green);
  border-radius: 24px;
  width: 100%;
  position: absolute;
  inset: 0%;
  transition: .3s;
  backdrop-filter: blur(2px);
}

.white-btn .button-outline {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);

}

.transparent-btn .button-outline {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);


}

.button:hover .button-outline {

  transform: scale(1.03);

}


.button-text {
  z-index: 25;
  position: relative;
  text-align: center;
  transition: .3s;
  font-weight: 500;
}

.transparent-btn .button-text {
  color: white;

}

/* .button:hover .button-text {
  color: var(--yellow);
} */


/* button style end */

@keyframes shuffle {

  0%,
  100% {
    transform: translateY(0) rotate(0);
  }

  25% {
    transform: translateY(-2.2px) rotate(-1.5deg);
  }

  50% {
    transform: translateY(2.2px) rotate(1.5deg);
  }

  75% {
    transform: translateY(-1.2px) rotate(-1.5deg);
  }
}


.shuffle {
  animation: shuffle 4s infinite ease-in-out;
}
.hero .swiper-slide{
  height: auto;
}

element.style {
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}
.hero .swiper-button-prev, .hero .swiper-button-next{
  background: rgba(3, 3, 3, 0.156);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  backdrop-filter: blur(5);
}
.hero .swiper-button-prev:after, .hero .swiper-button-next:after{
  font-size: 22px;
  color: white;
}
@media (min-width: 1024px) {
  

  /* .features-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--green);
    background-size: cover;
  } */
}
@media (max-width: 600px) {
  .hero .swiper-button-prev, .hero .swiper-button-next{
display: none;
}
.hero-cover2::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.827),  rgba(30, 21, 195, 0.347));


}
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



